In [200]:
import pandas as pd
from pyECLAT import ECLAT

In [261]:
# Dummy transactional data
transactions = pd.DataFrame( [
    ['Bread', 'Milk'],
    ['Bread', 'Diaper', 'Beer'],
    ['Milk', 'Diaper', 'Beer'],
    ['Bread', 'Milk']
])

In [262]:
transactions

       0       1     2
0  Bread    Milk  None
1  Bread  Diaper  Beer
2   Milk  Diaper  Beer
3  Bread    Milk  None

In [202]:
# Run Eclat
eclat = ECLAT(data=transactions)
#Binarizing Data Frame
eclat.df_bin

   Beer  None  Milk  Diaper  Bread
0     0     0     1       0      1
1     1     0     0       1      1
2     1     0     1       1      0
3     0     0     1       0      1

In [203]:
# count items in each column
items_total = eclat.df_bin.astype(int).sum(axis=0)
items_total

# count items in each row
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)
items_per_transaction

0    2
1    3
2    3
3    2
dtype: int64

In [204]:
# Loading items per column stats to the DataFrame
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 
# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)
#  Top 5 most popular products/items
df_table.head(5).style.background_gradient(cmap='Blues')

In [205]:
# to have a same origin
df_table["all"] = "Tree Map"

In [206]:
# the item shoud appear at least at 5% of transactions
min_support = 5/100
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transaction
max_combination = max(items_per_transaction)
rule_indices, rule_supports = eclat.fit(min_support=min_support,
                                                 min_combination=min_combination,
                                                 max_combination=max_combination,
                                                 separator=' & ',
                                                 verbose=True)

Combination 2 by 2

6it [00:00, 96.98it/s]

Combination 3 by 3

4it [00:00, 87.88it/s]

In [207]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                    Item  Support
1          Beer & Diaper     0.50
4           Milk & Bread     0.50
2           Beer & Bread     0.25
0            Beer & Milk     0.25
3          Milk & Diaper     0.25
5         Diaper & Bread     0.25
6   Beer & Milk & Diaper     0.25
7  Beer & Diaper & Bread     0.25

In [1]:
import requests
import json
transactions = [
    ['Bread', 'Milk'],
    ['Bread', 'Diaper', 'Beer'],
    ['Milk', 'Diaper', 'Beer'],
    ['Bread', 'Milk']
]
r = requests.post('http://127.0.0.1:5000/predict',data=json.dumps({"data":transactions})) #json.dumps(transactions))
r.text

NameError: name 'requests' is not defined