In [200]:
import pandas as pd
from pyECLAT import ECLAT

In [261]:
# Dummy transactional data
transactions = pd.DataFrame( [
    ['Bread', 'Milk'],
    ['Bread', 'Diaper', 'Beer'],
    ['Milk', 'Diaper', 'Beer'],
    ['Bread', 'Milk']
])

In [262]:
transactions

       0       1     2
0  Bread    Milk  None
1  Bread  Diaper  Beer
2   Milk  Diaper  Beer
3  Bread    Milk  None

In [202]:
# Run Eclat
eclat = ECLAT(data=transactions)
#Binarizing Data Frame
eclat.df_bin

   Beer  None  Milk  Diaper  Bread
0     0     0     1       0      1
1     1     0     0       1      1
2     1     0     1       1      0
3     0     0     1       0      1

In [203]:
# count items in each column
items_total = eclat.df_bin.astype(int).sum(axis=0)
items_total

# count items in each row
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)
items_per_transaction

0    2
1    3
2    3
3    2
dtype: int64

In [204]:
# Loading items per column stats to the DataFrame
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 
# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)
#  Top 5 most popular products/items
df_table.head(5).style.background_gradient(cmap='Blues')

In [205]:
# to have a same origin
df_table["all"] = "Tree Map"

In [206]:
# the item shoud appear at least at 5% of transactions
min_support = 5/100
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transaction
max_combination = max(items_per_transaction)
rule_indices, rule_supports = eclat.fit(min_support=min_support,
                                                 min_combination=min_combination,
                                                 max_combination=max_combination,
                                                 separator=' & ',
                                                 verbose=True)

Combination 2 by 2

6it [00:00, 96.98it/s]

Combination 3 by 3

4it [00:00, 87.88it/s]

In [207]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                    Item  Support
1          Beer & Diaper     0.50
4           Milk & Bread     0.50
2           Beer & Bread     0.25
0            Beer & Milk     0.25
3          Milk & Diaper     0.25
5         Diaper & Bread     0.25
6   Beer & Milk & Diaper     0.25
7  Beer & Diaper & Bread     0.25

In [219]:
import requests

In [266]:
transactions = [
    ['Bread', 'Milk'],
    ['Bread', 'Diaper', 'Beer'],
    ['Milk', 'Diaper', 'Beer'],
    ['Bread', 'Milk']
]
import json

r = requests.post('http://127.0.0.1:5000/predict',data=json.dumps({"data":transactions})) #json.dumps(transactions))
r.text

'{\n  "result": [\n    {\n      "Item": "Beer & Diaper",\n      "Support": 0.5\n    },\n    {\n      "Item": "Milk & Bread",\n      "Support": 0.5\n    }\n  ]\n}\n'

'{\n  "error": "415 Unsupported Media Type: Did not attempt to load JSON data because the request Content-Type was not \'application/json\'."\n}\n'

In [209]:
!pip install flask

Collecting flask
  Downloading flask-3.1.0-py3-none-any.whl.metadata (2.7 kB)
Collecting Werkzeug>=3.1 (from flask)
  Using cached werkzeug-3.1.3-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: Jinja2>=3.1.2 in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from flask) (3.1.5)
Collecting itsdangerous>=2.2 (from flask)
  Downloading itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: click>=8.1.3 in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from flask) (8.1.7)
Collecting blinker>=1.9 (from flask)
  Downloading blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: importlib-metadata>=3.6 in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from flask) (8.5.0)
Requirement already satisfied: colorama in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: zipp>=3.20 in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from importlib-metadata>=3.6->flask) (3.21.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\users\delhi\miniconda3\envs\rl\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Downloading flask-3.1.0-py3-none-any.whl (102 kB)
Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Using cached werkzeug-3.1.3-py3-none-any.whl (224 kB)
Installing collected packages: Werkzeug, itsdangerous, blinker, flask
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 3.0.6
    Uninstalling Werkzeug-3.0.6:
      Successfully uninstalled Werkzeug-3.0.6
  Attempting uninstall: blinker
    Found existing installation: blinker 1.6.2
    Uninstalling blinker-1.6.2:
      Successfully uninstalled blinker-1.6.2
Successfully installed Werkzeug-3.1.3 blinker-1.9.0 flask-3.1.0 itsdangerous-2.2.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorboard 2.18.0 requires grpcio>=1.48.2, but you have grpcio 1.42.0 which is incompatible.
tensorboard 2.18.0 requires protobuf!=4.24.0,>=3.19.6, but you have protobuf 3.17.2 which is incompatible.
tensorboard 2.18.0 requires tensorboard-data-server<0.8.0,>=0.7.0, but you have tensorboard-data-server 0.6.1 which is incompatible.
tensorflow-intel 2.18.0 requires protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3, but you have protobuf 3.17.2 which is incompatible.